<?xml version="1.0"?>
<launch>
    <arg name="base_frame" default="base_link"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="scan_topic" default="scan"/>
    <arg name="xmin" default="-150"/>
    <arg name="ymin" default="-150"/>
    <arg name="xmax" default="150"/>
    <arg name="ymax" default="150"/>
    <arg name="resolution" default="0.05"/>
    <arg name="node_name" default="$(anon gmapping)"/>

    <node pkg="gmapping" type="slam_gmapping" name="$(arg node_name)" output="screen">
      <remap from="scan" to="/scan"/>
      <param name="map_frame" value="map" />
      <param name="base_frame" value="$(arg base_frame)" />
      <param name="odom_frame" value="$(arg odom_frame)" />
      <param name="map_udpate_interval" value="1"/>
      <param name="maxUrange" value="25.0"/>
      <param name="sigma" value="0.05"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="5"/>
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="0"/>
      <param name="srr" value="0.1"/>
      <param name="srt" value="0.2"/>
      <param name="str" value="0.1"/>
      <param name="stt" value="0.2"/>
      <param name="linearUpdate" value="0.05"/>
      <param name="angularUpdate" value="0.0314"/>
      <param name="temporalUpdate" value="3.0"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="100"/>
      <param name="minimumScore" value="200"/>
      <param name="xmin" value="$(arg xmin)"/>
      <param name="ymin" value="$(arg ymin)"/>
      <param name="xmax" value="$(arg xmax)"/>
      <param name="ymax" value="$(arg ymax)"/>
      <param name="delta" value="$(arg resolution)"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/>
      <param name="lasamplestep" value="0.005"/>
    </node>
</launch>
